body {
    width: 40em;
    margin: 2em auto;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    background: lightgray;
    padding: 2em;
}

label {
    font-size: .8em;
    color: dimgray;
}