@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700&display=swap');

html {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    background-color: blanchedalmond;
}

body {
    padding: 4em;
    max-width: 48em;
    margin: 4em auto;
    background-color: whitesmoke;
    border-radius: .5em;
}

table {
    font-size: .9rem;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    padding: .3em;
    text-align: center;
    border: .1em solid rgba(0, 0, 0, .05);
}

th {
    color: white;
    background-color: rgba(0, 0, 0, .4);
    border-top-right-radius: .3em;
    border-top-left-radius: .3em;
}

tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, .1);
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .05);
}

hr {
    height: 0;
    border: 0;
    border-top: .1em solid rgba(0, 0, 0, 0.1);
    margin: 3em auto;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 2em;
    font-weight: 300;
    color: deepskyblue;
}

h1 {
    font-weight: 700;
}

a {
    color: deepskyblue;
    text-decoration: underline;
}
